@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400&family=Rubik&display=swap');
.section-1 {
    padding: 21vmin 0vmin;
  }
  
  .section-1 .row .col-md-12:last-child {
    position: relative;
    
  }
  
  .section-1 .row .col-md-12 .panel {
    position: absolute;
    top: -42vmin;
    background: linear-gradient(to top, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 3px;
    text-align: left;
    padding: 5vmin 10vmin 5vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .section-1 .row .col-md-12 .panel h3 {
    font-weight: bold;
    padding: 0.4em 0;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 1.5em;
    color:white;
  }
  
  .section-1 .row .col-md-12 .panel p {
    font-size: 1.2em;
    color: white;
    font-family: 'M PLUS 1 Code', sans-serif;
  }
  .section-1 .row .col-md-12 .panel p span{
    font-size: 1.2em;
    color: white;
    font-family: 'M PLUS 1 Code', sans-serif;
    color:#52c234;
  }
  .section-1 .row .col-md-12 .panel a{
      text-decoration: none;
      font-size: 20px;
      color:#52c234;
      font-weight:bold;
      font-family: 'M PLUS 1 Code', sans-serif;
      letter-spacing: 5px;
  }
  .section-1 .row .col-md-12 .panel .social{
    text-decoration: none;
    
    color:white;
    font-weight:bold;
    display:flex;
    align-items: center;
    justify-content: center;
}
.section-1 .row .col-md-12 .panel .social a {
    padding:10px;
    font-size: 30px;
    color:white;
}
.btn-skill{
  border:none;
  background: linear-gradient(to right, #457fca, #5691c8);
  color:white;
  font-family: 'M PLUS 1 Code', sans-serif;
  border-radius: 5px;
  font-size: 20px;
}
  @media only screen and (max-width: 768px){
    .section-1 .row .col-md-12 .panel {
        position: initial;
        width: initial;
        height: initial;
        
      }
     
  }